<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
      <key>items</key>
      <array>
        <dict>
           <key>assets</key>
           <array>
             <dict>
               <key>kind</key>
               <string>software-package</string>
               <key>url</key>
               <string><![CDATA[http://10.33.144.63:3000/Provenance-iOS-1.5b-2774-my.ipa]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>display-image</string>
               <key>needs-shine</key>
               <integer>0</integer>
               <key>url</key>
               <string><![CDATA[http://img.ljcdn.com/usercenter/images/uc_ehr_avatar/31591e34-e443-40fd-900b-1428fdc7bf8f.jpg]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>full-size-image</string>
               <key>needs-shine</key>
               <true/>
               <key>url</key>
               <string><![CDATA[http://img.ljcdn.com/usercenter/images/uc_ehr_avatar/31591e34-e443-40fd-900b-1428fdc7bf8f.jpg]]></string>
             </dict>
           </array>
           <key>metadata</key>
           <dict>
             <key>bundle-identifier</key>
             <string>com.zhouxianglin.provenance</string>
             <key>bundle-version</key>
             <string><![CDATA[1.0.0]]></string>
             <key>kind</key>
             <string>software</string>
             <key>title</key>
             <string><![CDATA[Provenance]]></string>
           </dict>
        </dict>
      </array>
  </dict>
</plist>